

# Write a programme to print name and school name.

In [1]:
print("My Name is Pawan Panchal")

My Name is Pawan Panchal

In [2]:
print("I have studied from MBM Enginering College")

I have studied from MBM Enginering College

# Lec 2.2 Activity

In [3]:
#Hello world
print ("Hello World")

Hello World

#Data types

In [5]:
x=46               #Integer datatype
print(x)           #print the value of x
type(x)            #Now check the datatype of variable

46

int

In [6]:
y=3.6             #Floating datatype
print(y)      
type(y)

3.6

float

In [8]:
z="Pawan"        #String datatype
print(z)
type(z)

Pawan

str

In [12]:
a=True   #Boolean datatype
b=False
print(a,b)
type(a),type(b)

True False

(bool, bool)

Operators

In [15]:
x=5
y=4

a=x+y
b=x-y
c=x*y
d=x/y
e=x//y
f=x%y
g=x**y

print(a,b,c,d,e,f,g)

9 1 20 1.25 1 1 625

Variables

In [18]:
x=5
y=7
print(x,y)

5 7

Variable Name

In [19]:
age = 27
Age = 56
AGE = 34
print(age)
print(Age)
print(AGE)
print(AGe)

27
56
34

NameError: name 'AGe' is not defined

Calculate Min and Max value

In [21]:
a = int(input("Enter value 1 "))
b = int(input("Enter value 2 "))
c = int(input("Enter value 3 "))

minimum = min(a,b,c)
maximum = max(a,b,c)

print ("Minimum value is ", minimum)
print ("Maximum value is ", maximum)

Enter value 1 4
Enter value 2 4
Enter value 3 6
Minimum value is  4
Maximum value is  6

Sequence

In [31]:
N1 = int(input("Enter Number1 "))
N2 = int(input("Enter Number2 "))

add= N1 + N2

print ("Sum",add)

Enter Number1 5
Enter Number2 7
Sum 12

Area

In [1]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

area = length * width
perimeter = (2*length) + (2*width)

print ("Area is ", area)
print ("Perimeter is ", perimeter)

Enter Length 7
Enter Width 8
Area is  56
Perimeter is  30

In [5]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

if length == width:
    print ("Figure is a square")

Enter Length 6
Enter Width 6
Figure is a square

In [7]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

if length == width:
    print ("Figure is a square")
else:
    print ("Figure is a rectangle")

Enter Length 8
Enter Width 5
Figure is a rectangle

In [11]:
DOB = int(input("Enter year of birth "))

age = 2022 - DOB

if age >= 18:
    print ("You are an adult..")
else:
    print ("You are a child..")

Enter year of birth 2012
You are a child..

In [13]:
number = 1

while number <= 10:
	print (number)
	number = number + 1

1
2
3
4
5
6
7
8
9
10

In [1]:
iteration = 1
total = 0

while iteration <= 3:
	number = int(input("Enter number " ))
	total = total + number
	iteration = iteration + 1

    
print ("Sum is ", total)

Enter number 3
Enter number 5
Enter number 7
Sum is  15

# Create a python program to input marks of 10 students and print the maximum mark, minimum mark and average mark of the students.

In [5]:
english = float(input("Please enter English Marks: "))
math = float(input("Please enter Math score: "))
computers = float(input("Please enter Computer Marks: "))
physics = float(input("Please enter Physics Marks: "))
chemistry = float(input("Please enter Chemistry Marks: "))
 
total = english + math + computers + physics + chemistry
average = total / 5
percentage = (total / 500) * 100
minimum = min(english,math,computers,physics,chemistry)
maximum = max(english,math,computers,physics,chemistry)
print("\nTotal Marks = %.2f"  %total)
print("Average Marks = %.2f"  %average)
print("Marks Percentage = %.2f"  %percentage)
print("Minimum marks in ",minimum)
print("Minimum marks in ",maximum)

Please enter English Marks: 45
Please enter Math score: 67
Please enter Computer Marks: 89
Please enter Physics Marks: 90
Please enter Chemistry Marks: 67

Total Marks = 358.00
Average Marks = 71.60
Marks Percentage = 71.60
Minimum marks in  45.0
Minimum marks in  90.0

# Create a program to input five marks of a student and display the grades.

In [3]:
print("Enter Marks Obtained in 5 Subjects: ")
markOne = int(input())
markTwo = int(input())
markThree = int(input())
markFour = int(input())
markFive = int(input())

tot = markOne+markTwo+markThree+markFour+markFive
avg = tot/5

if avg>=91 and avg<=100:
    print("Your Grade is A1")
elif avg>=81 and avg<91:
    print("Your Grade is A2")
elif avg>=71 and avg<81:
    print("Your Grade is B1")
elif avg>=61 and avg<71:
    print("Your Grade is B2")
elif avg>=51 and avg<61:
    print("Your Grade is C1")
elif avg>=41 and avg<51:
    print("Your Grade is C2")
elif avg>=33 and avg<41:
    print("Your Grade is D")
elif avg>=21 and avg<33:
    print("Your Grade is E1")
elif avg>=0 and avg<21:
    print("Your Grade is E2")
else:
    print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
45
67
90
89
78
Your Grade is B1